In [25]:
import cv2 #pip install opencv-python
import pandas as pd #pip install pandas
import os #no need to install
from pyzbar.pyzbar import decode #pip install pyzbar 
os.chdir("D:\LEARN\Python\Final_Project")

### Ex1: Create a student dataset with ID

In [48]:
student_data = pd.read_excel("DATA.xlsx", sheet_name = "Student data")
student_data.head()

,Student_ID,STUDENT,Student_Major,Student_Class,Student_Email
0,20040004,Nguyễn Quang Hào,DS,20DS,hao.nguyen200404@vnuk.edu.vn
1,20050005,Phan Thanh Lâm,THM,20THM2,NaN
2,20010039,Lê Đại Hải,IBM,20IBM3,NaN
3,20040000,Lê Thị Tấm,CSE,20CSE,NaN
4,20040001,Trần Chín,THM,20THM1,NaN

### Ex2: Create a book dataset with code

In [46]:
book_data = pd.read_excel("DATA.xlsx", sheet_name = "Book data")
book_data['CODE'] = book_data['CODE'].apply(lambda x: '{:.0f}'.format(x))
book_data.head()

            CODE                                   BOOK           AUTHOR
0  8936037799377  Những Cuộc Phiêu Lưu Trong Kinh Doanh      John Brooks
1  8935251405972                   Tư Duy Nhanh Và Chậm  Daniel Kahneman
2  8935235219489                     Vào Trong Hoang Dã     Jon Krakauer
3  8935235229693           Tương Lai Sau Đại Dịch Covid   Jason Schenker
4  8935235218130          Yêu những điều không hoàn hảo          Hea Min

### Ex3: Scan infomation on Student Card

In [49]:
img = cv2.imread('Student_Card/STUDENT_CARD_00.jpg')
code = decode(img)
# result = list()
id = code[0].data.decode('utf-8')

for i in range(len(student_data)):
    if int(id) == int(student_data.loc[i,'Student_ID']):
        print(student_data.loc[i])
# data = student_data.loc[0,'Student number']
# print(result)

Student_ID                           20040004
STUDENT                      Nguyễn Quang Hào
Student_Major                              DS
Student_Class                            20DS
Student_Email    hao.nguyen200404@vnuk.edu.vn
Name: 0, dtype: object

In [47]:
book = cv2.imread("Book_List/BOOK_04.jpg")
book_code = decode(book)
code = book_code[0].data.decode('utf-8')

for i in range(len(book_data)):
    if code == book_data.loc[i,'CODE']:
        print(book_data.loc[i])

CODE                      8935235218130
BOOK      Yêu những điều không hoàn hảo
AUTHOR                          Hea Min
Name: 4, dtype: object